/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* body {
  color: #f9d63d;
  background-color: #134472;
} */

#nav-bar {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  color: #f9d63d;
  background-color: #134472;
}

.nav-items {
  display: flex;
  list-style: none;
}
.nav-items:hover{
  color: #dddddd;
}

#header-img {
  max-width: 200px;
}
.nav-items li {
  margin-right: 100px;
}
.nav-items li:last-child {
  margin-right: 30px;
}

.nav-items li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #f9d63d;
}
.nav-items li a:hover{
  color: #fff;
}

.header_title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-top: 100px; */
  /* background-color: #f57c00; */
  background: linear-gradient(to bottom right, #134472, #f9d63d);
  align-content: center;
  justify-content: center;
}
.hero-img {
  width: 80%;
}
h1 {
  font-size: 4rem;
  margin: 50px;
  color: #dddddd;
}

#about {
  background-color: #ffff;
}
h2 {
  font-size: 3rem;
  margin: 0 50px;
  color: #134472;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
span {
  color: #f9d63d;
}
p::first-letter {
  font-size: 5rem;
  color: #134472;
  font-weight: bolder;
}
.map {
}

.head1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 50px;
  color: #f9d63d;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.head {
  text-align: center;
}
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img" "text";
}
.about-write-up {
  padding-top: 20px;
  color: #134472;

  margin: 50px;
}
img {
  width: 30rem;
  margin: 50px;
}

#sentence-container {
  display: inline-block;
  padding-top: 20px;
}
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #134472;
  padding-top: 40px;
}
.contact-form {
  margin: 20px 80px;
}
input[type="text"],
[type="email"],
textarea {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
label {
  color: #ffff;
}
.word {
  white-space: nowrap;
}
.word > span {
  display: inline-block;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
